/* commentaire en CSS */
/* si vous importer des feuillets css dans un autre feuillet CSS, TOUJOURS EN PREMIER */
/* import d'autres feuillets CSS */
@import url('./bootstrap-icons.css');

/*
Unités de dimension les plus utilisés en web

px          =>  Pixel
em          =>  cadratin : unité de mesure en print sur les presses. 
                le cadratin se calcul part rapport à la taille de la police dans l'élément parent
rem         =>  cadratin racine : se calcul part rapport à la taille de la police dans l'élément racine
%           =>  Pourcentage, de l'espace disponible autour de l'élément
vw & vh     =>  vw : viewport width; vh : viewport height
*/

/*

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrit
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés
        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
        main > article      body > => tous les éléments article enfants directs d'un élément main
                            le chevron fermant > entre les deux éléments indique une filiation directe.
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )
        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                Xn + Y, si X == 2 et Y == 1 ==> 2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne

*/

/* :root{} */
:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.8rem;
    /*
    en CSS il est possible de définir des variables
    */
    --site-bg-color: white;
    --site-color: rgb(51, 51, 51);
    --site-link-color: #DE3400;
    --figure-border: rgba(222, 52, 0, 0.5);
    --site-third-color: rgb(224, 140, 7);
    --site-third-color-75: rgba(224, 140, 7, 0.75);
    --site-third-color-50: rgba(224, 140, 7, 0.5);
    --site-third-color-25: rgba(224, 140, 7, 0.25);
    
    --header-bg: var(--site-color);
    --header-color: var(--site-bg-color);
    color: var(--site-color);

}

/* déclaration générales */

*, 
*::before,
*::after{
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    margin: 0;
}

a, a:visited{
    color: var(--site-link-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:focus{
    background-color: var(--site-link-color);
    color: var(--site-bg-color);
}

header, footer{
    padding: 2rem 0;
}

img, video{
    max-width: 100%;
}
/* déclaration des classe */

.content-box{
    width: 200px;
    height: 200px;
    padding: 1rem;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: content-box;
}

.border-box{
    width: 200px;
    height: 200px;
    padding: 1rem;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.deuxEm{
    font-size: 2em;
}

.deuxRem{
    font-size: 2rem;
}

*.video{
    position:relative;
    height:0;
    overflow:hidden;
}

*.video > *{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
}

.video-16-9{
    padding-bottom: 56.25%;
}

.video-4-3{
    padding-bottom: 75%;
}

.page-21-297{
    padding-bottom: calc( 29.7 / 21 * 100% );
}

/* déclaration de structure */
body{
    margin: 0;
}

body > header > div,
body > nav > div,
body > main,
body > footer > div{
    margin-left: auto;
    margin-right: auto;
}

body > header{
    background-color: var(--header-bg);
    color: var(--header-color);
}

body > nav,
body > footer{
    background-color: var(--header-bg);
}

body > nav ul,
body > footer ul{
    margin: 0;
    list-style-type: none;
    line-height: 2rem;
    padding: 0;
}

body > nav ul li:not(body > nav ul li:last-child){
    border-bottom: 1px solid var(--site-bg-color);
}

body > nav a, body > nav a:visited,
body > footer a, body > nav a:visited{
    color: var(--site-bg-color);
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
}

main article{
    margin: 0.5rem;
}

@media screen and (min-width: 576px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 540px;
    }

    figure.left{
        float: left;
        margin: 0;
        margin-right: 0.5rem;
        text-align: center;
        border-radius: 0.25rem;
        border-style: solid;
        border-width: 1px;
        border-color: var(--figure-border);
        padding: 0.5rem;
    }

    main article{
        clear: both;
    }


}

@media screen and (min-width: 768px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 720px;
    }

    body > nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav ul li:not(body > nav ul li:last-child){
        border-bottom: unset;
        border-right: 1px solid var(--site-bg-color);
    }

    body > nav a, body > nav a:visited,
    body > footer a, body > nav a:visited{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
}

@media screen and (min-width: 992px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 960px;
    }
}

@media screen and (min-width: 1200px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1140px;
    }
}

@media screen and (min-width: 1400px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1320px;
    }
}

@media screen and (min-width: 1600px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1560px;
    }
}

img{
    max-width: 100%!important;
}