@use "sass:list";
// couleur d'écriture principale du contenu du site
$main-color : #333333;
$main-font-css: 'roboto.css';
$main-font-name: 'Roboto';

// variables des breakpoints
$breakpoints: (
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400,
);

$breakpoints-limit: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
);

$btn-colors: (
    success: darkgreen,
    danger: darkred,
    warning: rgb(196, 129, 4)
);

$test-element: '.btn', 'article';